@use "../../styles/globals";
@use "../../styles/partials/vars" as *;
@use "../../styles/partials/mixins" as *;

.start {
  position: relative;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  animation: swimUpIn 0.75s ease-in-out;

  &--exit {
    animation: swimUpOut 0.75s ease-in-out forwards;
  }

  @include tablet {
    padding: 2.25rem;
    max-width: $desktop-breakpoint;
  }

  @include desktop {
    width: $desktop-breakpoint;
    margin: 0 auto;
  }

  &__title {
    order: -1;
    font-size: 4rem;
    color: $color-texticon-high;
    align-self: flex-start;
    margin: 1rem 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background-color: $color-surface-light;
    gap: 1.5rem;
    margin: 0 auto;
    padding: 1.5rem;
    width: 100%;
    max-width: $desktop-breakpoint;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    // animation: fliptest 10s ease-in-out infinite;

    @include tablet {
      width: 80%;
      gap: 2.25rem;
    }

    @include desktop {
      width: 63.75rem;
    }
  }

  &__logo {
    width: 80%;
    animation: float 10s ease-in-out infinite;

    @include tablet {
      order: 0;
      width: 40%;
    }
  }

  &__panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    margin-bottom: 1.5rem;

    @include tablet {
      // gap: 2.25rem;
      margin-bottom: 2.25rem;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-primary-default;
    border: none;
    border-radius: 8px;
    text-align: center;
    width: 100%;
    padding: 0.75rem 1rem;
    cursor: grab;

    &:hover {
      background-color: $color-twin-green;
    }

    &--join {
      &:hover {
        background-color: $color-twin-orange;
      }
    }

    @include tablet {
      width: 15rem;
      height: 3rem;
    }
  }

  &__text {
    color: $color-texticon-high;
  }
}

@keyframes inflate {
  0% {
    
  }
  50% {
    transform: rotateY(30deg);
  }
  100% {
    
  }
}

@keyframes fliptest {
  0% {
    transform: rotatey(0deg);
  }
  50% {
    transform: rotatey(180deg);
  }
  100% {
    transform: rotatey(360deg);
  }
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px) rotateY(30deg);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes swimUpIn {
  0% {
    opacity: 0;
    transform: translatey(100%);
  }
  100% {
    opacity: 1;
    transform: translatey(0%);
  }
}

@keyframes swimUpOut {
  0% {
    opacity: 1;
    transform: translatey(0%);
  }
  100% {
    opacity: 0;
    transform: translatey(-100%);
  }
}
