//Page Transition Up From Outside Screen
@keyframes swimUpIn {
  0% {
    opacity: 0;
    transform: translatey(100%);
  }
  100% {
    opacity: 1;
    transform: translatey(0%);
  }
}
//Page Transition Up To Outside Screen
@keyframes swimUpOut {
  0% {
    opacity: 1;
    transform: translatey(0%);
  }
  100% {
    opacity: 0;
    transform: translatey(-100%);
  }
}
//Video Feed Screenshot Capture
@keyframes captureShutter {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
