//Base Colors
$color-base-white: #FFFFFF;
$color-base-black: #000000;

//Primary Colors
$color-primary-default: #2672ED;
$color-primary-dark: #143466;
$color-primary-darker: #66A1FF;
$color-primary-disabled: #3665B0;

//Secondary Colors
$color-secondary-default: #475366;
$color-secondary-dark: #2D3440;
$color-secondary-light: #6B7D99;
$color-secondary-disabled: #242A33;

//Surface Colors
$color-surface-default: #13161B;
$color-surface-dark: #0F1115;
$color-surface-light: #1E232A;
$color-surface-lighter: #282F39;

//Background Colors
$color-background-default: #0B0D0F;
$color-background-dark: #080A0C;
$color-background-darker: #050506;
$color-background-error: #201617;

//Text and Icon Colors
$color-texticon-high: #F5F9FF;
$color-texticon-medium: #E0ECFF;
$color-texticon-disabled: #C3D0E5;

//On Accent Colors
$color-onaccent: #FFFFFF;

//Border Colors
$color-border-default: #1B1F26;
$color-border-light: #2D3440;
$color-border-accent: #2672ED;

//Alert Colors
$color-alert-success: #36B37E;
$color-alert-warning: #FFAB00;
$color-alert-error: #CC525F;

//Twin Colors
$color-twin-green: #14B881;
$color-twin-cyan: #25C5C5;
$color-twin-orange: #FF8000;
$color-twin-yellow: #ECC502;
$color-twin-purple: #7E47EB;