//Font Styles
$font-fam: "Inter";
$backup-fonts: Arial, Helvetica, sans-serif;
$font-reg: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;

//Font Sizes - Desktop
$font-desktop-h1: 5rem;
$font-desktop-h2: 3.75rem;
$font-desktop-h3: 3rem;
$font-desktop-h4: 2.125rem;
$font-desktop-h5: 1.5rem;
$font-desktop-h6: 1.25rem;

//Font Sizes - Mobile
$font-mobile-h1: 4.5rem;
$font-mobile-h2: 3rem;
$font-mobile-h3: 2.5rem;
$font-mobile-h4: 1.75rem;
$font-mobile-h5: 1.5rem;
$font-mobile-h6: 1.25rem;

//Font Sizes - Common 
$font-subtitle-1: 1rem;
$font-subtitle-2: 0.875rem;
$font-body-1: 1rem;
$font-body-2: 0.875rem;
$font-button: 1rem;
$font-caption: 0.75rem;
$font-overline: 0.625rem;
$font-link: 0.875rem;
$font-paragraph: 1.125rem;