@use "./vars" as *;

//Responsive Design Placeholders
//Tablet CSS
@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}
//Desktop CSS
@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

//Resets
//Removes bullet points and padding from unordered lists
@mixin null-list {
  list-style-type: none;
  padding: 0;
}
@mixin desktop-reset() {
  margin: 0 auto;
  width: $grid-desktop-width;
}