@use "./vars" as *;

//Responsive Design Placeholders
//Tablet CSS
@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}
//Desktop CSS
@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

//Resets
//Removes bullet points and padding from unordered lists
@mixin null-list {
  list-style-type: none;
  padding: 0;
}
@mixin desktop-reset() {
  margin: 0 auto;
  width: $grid-desktop-width;
}

//Font Styles
//h1 Tag - Page Header
// @mixin page-header-big() {
//   font-size: $font-page-big;
//   font-weight: $font-bold;
//   line-height: $lh-page-big;
//   color: $color-primary-text;
// }
// @mixin page-header-small() {
//   font-size: $font-page-small;
//   font-weight: $font-bold;
//   line-height: $lh-page-small;
//   color: $color-primary-text;
// }
// //h2 Tag - Section Header
// @mixin section-header-big() {
//   font-size: $font-section-big;
//   font-weight: $font-bold;
//   line-height: $lh-section-big;
//   color: $color-primary-text;
// }
// @mixin section-header-small() {
//   font-size: $font-section-small;
//   font-weight: $font-bold;
//   line-height: $lh-section-small;
//   color: $color-primary-text;
// }
// //h3 Tag - Subheader
// @mixin subheader-big() {
//   font-size: $font-subheader-big;
//   font-weight: $font-bold;
//   line-height: $lh-subheader-big;
//   color: $color-primary-text;
// }
// @mixin subheader-small() {
//   font-size: $font-subheader-small;
//   font-weight: $font-bold;
//   line-height: $lh-subheader-small;
//   color: $color-primary-text;
// }
// //h4 tag - Labels and Buttons
// @mixin labels-big() {
//   font-size: $font-labels-big;
//   font-weight: $font-bold;
//   line-height: $lh-labels-big;
//   color: $color-primary-text;
//   // margin: 2.25rem 0 1rem;
// }
// @mixin labels-small() {
//   font-size: $font-labels-small;
//   font-weight: $font-bold;
//   line-height: $lh-labels-small;
//   color: $color-primary-text;
// }
// //p tag - Body Text
// @mixin body-big() {
//   font-size: $font-body-big;
//   font-weight: $font-reg;
//   line-height: $lh-body-big;
//   color: $color-primary-text;
// }
// @mixin body-small() {
//   font-size: $font-body-small;
//   font-weight: $font-reg;
//   line-height: $lh-body-small;
//   color: $color-primary-text;
// }
