@import "./colors";
@import "./fonts";

//Colors
$color-text: #363732;
$color-active: #BCEDF6;
// $color-background: #AF9164;
$color-accent: #A53F2B;
$color-invert-text: #F4F4F8;
$color-success: #00DC54;
$color-error: #DD2D2D;

//Breakpoints
$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;