@use "../../styles/globals";
@use "../../styles/partials/vars" as *;
@use "../../styles/partials/mixins" as *;

.whiteboard {
  display: none;
  position: relative;
  touch-action: none;

  @include tablet {
    display: block;
    background-color: $color-surface-default;
    width: 100%;
    aspect-ratio: 1;
    border-radius: 16px;
    background-image: url("../../assets/images/icons/artboard-background.svg");
    background-position: center;
    background-size: 75%;
    background-repeat: no-repeat;
  }

  &--mobile {
    display: block;
    position: absolute;
  }

  &__layer {
    border-radius: 16px;
    position: absolute;
    width: 100%;
    height: 100%;

    &--me {
      // background-color: $color-twin-orange;
    }
    &--peer {
      // background-color: $color-twin-yellow;
    }
  }

  &__tool-indicator {
    background-color: $color-background-darker;
    border-radius: 100%;
    position: absolute;
    padding: 0.25rem;
    opacity: 0.3;

    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
  }

  &__icon {
    width: 1.5rem;
    height: 1.5rem;
    
    @include desktop {
      width: 2.25rem;
      height: 2.25rem;
    }
  }
}
