@use "./partials/vars" as *;
@use "./partials/mixins" as *;

//Border-box, margin and padding resets
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

//Global Font
body {
  font-family: $font-fam, $backup-fonts;
  background: $color-background-default;
  color: $color-texticon-high;
}

h5 {
  font-size: $font-mobile-h5;
  font-weight: $font-semibold;
}

p {
  font-size: $font-body-2;
}

//Unordered Lists
ul {
  @include null-list;
}
//Anchor Tags
a {
  text-decoration: none;
}

//Scrollbar
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: $color-texticon-high;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: $color-texticon-high;
}