@use "../../styles/globals";
@use "../../styles/partials/vars" as *;
@use "../../styles/partials/mixins" as *;

.sessions-list {
  display: none;
  background-size: 75%;

  @include tablet {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    border-radius: 10px;
    background-color: $color-surface-light;
    overflow-x: hidden;
    overflow-y: auto;
    width: 20rem;
    height: 32.25rem;
    border: 1px solid #888888;
  }

  &__empty-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    color: $color-texticon-high;
    padding: 0 0 1rem;
    font-weight: 600;
  }

  &__empty-list {
    width: 20rem;
    padding: 2.25rem;
    opacity: 50%;
  }
  &__empty-text {
    color: $color-texticon-high;
  }
  &__status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color-texticon-high;

    width: 100%;
    background-color: $color-background-darker;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
  }
}
