@use "../../styles/globals";
@use "../../styles/partials/vars" as *;
@use "../../styles/partials/mixins" as *;

.sessions {
  display: none;
  @include tablet {
    display: flex;
    flex-direction: column;
    border: 1px solid #888888;
    padding: 1rem;
    width: 20rem;
    height: 32.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: $color-invert-text;
  }

  &__empty-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    color: $color-text;
  }

  &__empty-list {
    width: 20rem;
    padding: 2.25rem;
    opacity: 50%;
  }
  &__empty-text {
    color: $color-text;
  }
}
