@use "../../styles/globals";
@use "../../styles/partials/vars" as *;
@use "../../styles/partials/mixins" as *;

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.25rem;
  width: 100%;
  position: relative;

  &__logo {
    height: 4rem;
    width: 4rem;

    animation: inflate 6s ease-in-out infinite;
    cursor: grab;
    @include tablet {
      height: 6rem;
      width: 6rem;
    }
    
  }

  &__prompt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
  }

  &__title {
    @include tablet {
      font-size: 2rem;
    }
    @include desktop {
      font-size: 3rem;
    }
  }

  &__body {
    @include tablet {
      font-size: 1rem;
    }
    @include desktop {
      font-size: 1.5rem;
    }
  }

  &__tooltip {
    background-color: $color-surface-lighter;
    padding: 0.5rem;
    margin-right: 1rem;
    border-radius: 4px;
  }
}
