@use "../../styles/globals";
@use "../../styles/partials/vars" as *;
@use "../../styles/partials/mixins" as *;

.video {
  position: relative;
  border: none;

  &__feed {
    width: 20rem;
    border-radius: 10px;
  }

  &__broadcast-view {
    background-color: $color-error;
    border-radius: 100%;
    width: 1.25rem;
    padding: 0.125rem;
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;

    &--viewer {
      background-color: $color-success;
    }
  }
}
