@use "../../styles/globals";
@use "../../styles/partials/vars" as *;
@use "../../styles/partials/mixins" as *;

.landing {
  width: 100vw;
  height: 100vh;
  position: relative;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  @include tablet {
    padding: 2.25rem;
  }

  @include desktop {
    width: $desktop-breakpoint;
    margin: 0 auto;
  }

  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    gap: 2rem;
  }

  &__container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2.25rem;
  }
}
