@use "../../styles/globals";
@use "../../styles/partials/vars" as *;
@use "../../styles/partials/mixins" as *;

.flip-stream {
  width: 100%;
  height: 100%;

  &__container {
    // width: 100%;
    // height: 100%;
    perspective: 1000px;
  }

  &__card {
    // width: 100%;
    // height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transform-style: preserve-3d;
    user-select: none;
    cursor: pointer;
    transition: transform 300ms;
  }

  //Animation start at front end at back
  &__flip-enter {
    transform: rotateY(180deg);

    &-active {
      transform: rotateY(0deg);
      transition: transform 300ms;
    }

    &-done {
      transform: rotateY(0deg);
    }
  }
  //Animation start at back end at front
  &__flip-exit {
    transform: rotateY(0deg);

    &-active {
      transform: rotateY(180deg);
      transition: transform 300ms;
    }

    &-done {
      transform: rotateY(180deg);
    }
  }

  &__side {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    &--front {
      background-color: $color-twin-purple;
    }
    &--back {
      background-color: $color-twin-yellow;
      transform: rotateY(180deg);
    }
  }
}

.landing {
  width: 100vw;
  height: 100vh;
  position: relative;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  @include tablet {
    padding: 2.25rem;
  }

  @include desktop {
    width: $desktop-breakpoint;
    margin: 0 auto;
  }

  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    gap: 2rem;
  }

  &__container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2.25rem;
  }

  &__sliding {
    position: absolute;
    top: 0;
    right: 0;
  }
}
