@use "../../styles/globals";
@use "../../styles/partials/vars" as *;
@use "../../styles/partials/mixins" as *;

.canvas {
    width: 20rem;
    cursor: crosshair;
    border-radius: 10px;
    transform: scaleX(-1);
    // border: 1px solid #888888;    
}