@use "../../styles/globals";
@use "../../styles/partials/vars" as *;
@use "../../styles/partials/mixins" as *;

.canvas {
    border: 1px solid $color-active;
    background-image: url('../../assets/images/logo/quail.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: $color-active;
}