@use "../../styles/globals";
@use "../../styles/partials/vars" as *;
@use "../../styles/partials/mixins" as *;

.canvas {
    width: 20rem;
    cursor: crosshair;
    border-radius: 10px;
    transform: scaleX(-1);

    // &--placeholder {
    //     background-color: $color-invert-text;
    //     background-image: url("../../assets/images/icons/camera-fill.svg");
    //     background-position: center;
    //     background-repeat: no-repeat;
    //     background-size: cover;        
    // }
    
}