@use "../../styles/globals";
@use "../../styles/partials/vars" as *;
@use "../../styles/partials/mixins" as *;

.home {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 92vh;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem 0;
  }

  &__logo {
    background-color: $color-background;
    border-radius: 100%;
    width: 2rem;
    padding: 0.25rem;
    cursor: grab;
  }

  &__title {
    margin: 0;

    font-weight: 600;
    font-family: "Montserrat";
    font-size: 1.25rem;
  }

  &__menu {
    width: 2rem;
    background-color: $color-background;
    border-radius: 10px;
    padding: 0.125rem;

    cursor: grab;
  }

  &__session {
    color: $color-invert-text;

    cursor: grab;
    padding: 0.5rem;
    text-align: center;
    border-radius: 20px;

    position: fixed;
    transform: translate(-50%, 0%);

    width: 90%;
    left: 50%;
    bottom: 1rem;

    &--create {
      background-color: $color-active;
    }
    &--end {
        background-color: $color-error;
      }
  }
}
